* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
html, body{
    overflow-x: hidden;
}
body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    background-color: black;
    width: 100vw;
    height: 100vh;
}

main {
    background-image: url(images/IN-en-20250721-TRIFECTA-perspective_cadc8408-df6e-4313-a05d-daa9dcac139f_large.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 90vh;
    position: relative;
}

main .box {
    height: 90vh;
    width: 100vw;
    opacity: .7;
    background-color: black;
    position: absolute;
    top: 0px;
}

header {
    display: flex;
    max-width: 80vw;
    height: 62px;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}

header img {
    color: red;
    position: relative;
    z-index: 10;
    margin-top: 20px;
    width: 148px;
}

header button {
    position: relative;
    z-index: 10;
}

#english {
    background: transparent;
    color: white;
    border: white solid 1px;
    border-radius: 4px;
    height: 32px;
    width: fit-content;
    width: max-content;
    padding: 6px 15px 6px 15px;
}

#sign {
    height: 40px;
    width: 80px;
    background-color: rgb(229,8,21);
    color: white;
    border-radius: 4px;
    margin-left: 10px;
    font-weight: bold;
}

#buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    position: relative;
}

#tline {
    display: flex;
    height: 100%;
    position: relative;
    flex-direction: column;
    color: white;
    align-items: center;
    justify-content: center;
    z-index: 10;
    max-width: 50%;
    margin: auto;
    bottom: 60px;
    flex-wrap: wrap;
}

#t1 {
    font-size: 56px;
    font-weight: 800;
    text-align: center;
}

#t2 {
    font-size: 20px;
    font-weight: 600;
    margin-top: 20px;
}

#t3 {
    margin-top: 30px;
    font-size: 16px;
}

#t4 {
    display: flex;
    margin-top: 10px;
    width: 80%;
    height: fit-content;
    justify-content: center;
}

#mail {
    height: 40px;
    background-color: rgba(0, 0, 0, 0.532);
    color: white;
    width: 65%;
    height: 55px;
    margin-right: 10px;
    padding: 24px;
    font-size: 15px;
    border: whitesmoke solid 1px;
    border-radius: 5px;
}

#started {
    width: 35%;
    border-radius: 5px;
    height: 57px;
    background-color: rgb(229,8,21);
    color: white;
    font-size: 20px;
    font-weight: 600;
}

#sepration {
    display: flex;
    justify-content: center;
}

#sep {
    background: linear-gradient(to right, rgba(33, 13, 22, 1) 16%, rgba(184, 40, 105, 1), rgba(229, 9, 20, 1), rgba(184, 40, 105, 1), rgba(33, 13, 22, 1) 84%);
    border-radius: 100%;
    height: 7px;
    width: 100%;
    z-index: 10;
    position: relative;
    bottom: 65px;
}

section {
    background-color: black;
    height: fit-content ;
    width: 100vw;
}

#trend {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80vw;
    /* border: red solid 2px; */
    margin-left: 10vw;
    margin-top: 4vh;
    padding-left: 9px;
}

#thead {
    height: 10vh;
    position: relative;
    z-index: 10;
    color: white;
    font-size: 24px;
    font-weight: 600;
    top: 10px;
    left: 15px;
}
#trendings{
    display: flex;
    flex-wrap: nowrap;
    gap: 40px;
    height: 300px;
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: none;
    margin-left: 10px;
    padding-left: 30px;
    margin: 20px;
    align-items: center;
    
}
.timages{
    height: 252px;
    width: 180px;
    border-radius: 10px;
    flex-shrink: 0;
    position: relative;
    bottom: 0px;
    padding-left: 5px;
    transition: scale .3s ease;
    

}
.timages:hover{
    cursor: pointer;
    scale: 1.05;
}
.itext{
    color: black;
    font-size: 77px;
    font-weight: 800;
    text-shadow:
        -1px -1px 0 white,
         1px -1px 0 white,
        -1px  1px 0 white,
         1px  1px 0 white;
    position: absolute;
    bottom: 19px;
    right:146px;
}
#first{
    background-image: url(images/wednesday.webp);
    background-size: cover;
    
}
#second{
    background-image: url(images/raid.webp);
    background-size: cover;
}
#third{
    background-image: url(images/squid\ game.webp);
    background-size: cover;

}
#fourth{
    background-image: url(images/mandala\ munders.webp);
    background-size: cover;
}
#fifth{
    background-image: url(images/kapil.webp);
    background-size: cover;
}
#sixth{
    background-image: url(images/Aap\ Jaisa\ Koii.webp);
    background-size: cover;
}
#seventh{
    background-image: url(images/oho\ enthan\ baby.webp);
    background-size: cover;
}
#eighth{
    background-image: url(images/Chavva.webp);
    background-size: cover;
}
#ninth{
    background-image: url(images/HIT.webp);
    background-size: cover;
}
#tenth{
    background-image: url(images/Jaat.webp);
    background-size: cover;
}
#reason{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 84vw;
    margin-left: 8vw;
    margin-top: 4vh;
    padding-left: 9px;
}
#rhead{
    height: 10vh;
    position: relative;
    z-index: 10;
    color: white;
    font-size: 24px;
    font-weight: 600;
    margin-left: 40px;
}
#reasons{
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    width: 100%;
    height: 321px;
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: none;
    margin-left: 40px;
    
}
.reas{
    width: 20%;
    height: 321px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    background: linear-gradient(to bottom, #0f172a 0%, #1b1033 40%, #1e0f1a 100%);
}
.reashead{
    font-size: 20px;
    color: white;
    padding: 10px 10px 0 15px;
    font-weight: 500;
}
.reastxt{
    font-size: 16px;
    color: white;
    padding: 20px 10px 10px 15px;
}
.reasicon{
    fill:none;
    width: 72px;
    height: 100%;
    align-self: flex-end;
    justify-self: end;
    display: flex;
    background-blend-mode: overlay;
}
#ques{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 84vw;
    margin-left: 8vw;
    margin-top: 100px;
    color: white;
}
#qhead{
    height: 10vh;
    position: relative;
    z-index: 10;
    font-size: 24px;
    font-weight: 600;
    margin-left: 40px;
}
.questions{
    display: flex;
    justify-content: space-between;
    margin-left: 40px;
    font-size: 22px;
    height: 83px;
    align-items: center;
    font-weight: 500;
    padding: 20px;
    margin-bottom: 10px;
    background-color: rgba(45, 45, 45, 0.674);
    transition: background-color .3s ease;
}
.questions:hover{
    background-color: rgb(65, 65, 65);
    cursor: pointer;
}
#line{
    font-size: 16px;
    color: white;
    text-align: center;
    display: block;
    position: relative;
    margin-top: 50px;
    margin-bottom: 50px;
    font-weight: 500;
}
#login{
    display: flex;
    position: relative;
    width: 55vw;
    margin: auto;
}
#mail2{
    width: 40vw;
    height: 59.98px;
    font-size: 20px;
    padding: 8px;
    background-color: black;
    color: white;
    margin-right: 10px;
    border: white solid 1px;
    border-radius: 10px;
}
#sign2{
    width: 15vw;
    height: 60px;
    font-size: 24px;
    border-radius: 10px;
    background-color: rgb(229,8,21);
    color: white;
}
#sign, #sign2, #started{
    transition: background-color .3s ease;
}
#sign2:hover , #sign:hover, #started:hover{
    cursor: pointer;
    background-color: rgb(193, 13, 25);

}footer{
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: relative;
    left: 1vw;
    justify-content: center;
    width: 80vw;
    margin: auto;
    color: rgb(179,178,178);
    margin-top: 100px;
}
#call{
    font-size: 16px
}
a{
    color: rgb(179,178,178);
}
#lang{
    background: transparent;
    color: white;
    border: white solid 1px;
    border-radius: 4px;
    height: 32px;
    width: fit-content;
    width: max-content;
    padding: 6px 15px 6px 15px;
    margin-left: 10px;
}
#netflix{
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 100px;
}
#links{
    display: grid;
    grid-template-columns: repeat(auto-fill,250px);
    grid-template-rows: repeat(auto,21px);
    column-gap: 10px;
    row-gap: 10px;
    
}
#links a{

}